* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.cards-parent-container {

    display: flex;
    gap: 10%;
    height: 100vh;
    width: 80%;
   
    margin: 0 auto;

}
