* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.wrapper{
 padding-top: 120px;

}
.cards-parent-container {

    display: flex;
    gap: 10%;
    height: 100vh;
    width: 80%;
    margin-top:100px;
    margin: 0 auto;

}
